* {
    margin: 0;
    padding: 0;
}

/* Banner */

.banner {
    background-image: url(/img/jeremy-bishop-tTY4nthc2IY-unsplash.jpg);
    width: 100%;
    background-size: cover;
    height: 95vh;
}


.banner-text {
    display: flex;
    padding: 15% 0;
}

.banner-text-items {
    color: #fff;
    margin: auto;
    text-align: center;
    width: 50%;
}

.banner-text-items h1 {
    font-size: 5em;
    padding-top: 100px;
    padding-left: 150px;
    text-transform: uppercase;
}

.banner-text-items h2 {
    font-size: 2em;
    padding-left: 170px;
}


.top-bar {


    width: 100%;
    height: 50px;
    background-color: #383E4C;
    position: fixed;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

}




.menu ul {
    display: flex;
    list-style-type: none;
    flex-flow: row wrap;
    margin: 20px;
}

.menu ul li {
    padding: 25px;
}

.menu ul li a {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    border: 1px solid #646D7C;
    padding: 15px 30px;
}

.menu ul li a:hover {
    background-color: #49505F;
}


.btn.active {
    background-color: #49505F;
}

/*Section - About */

section#about {
    height: auto;
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px;
    padding-top: 50px;
}

.card {
    flex: 0 1 32%;
}

.card img, .extra-cards img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}

.about-wrapper .card, .extra-cards {
   
    background-color: #F2F2F2;
    padding-bottom: 20px;
}

#about .about-wrapper .card:nth-child(1) h4 {
    color: #178A27;
}

#about .about-wrapper .card:nth-child(2) h4 {
    color: #1686C1;
}

#about .about-wrapper .card:nth-child(3) h4 {
    color: #8F8F8F;
}

.about-wrapper .card h4 {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 24px;
    padding-bottom: 15px;
}

.about-wrapper .card p {
    padding-bottom: 20px;
    padding-left: 20px;
}

.about-wrapper button {
    font-size: 22px;
    display: block;
    margin: 0 auto;
    padding: 8px 20px;
    border-radius: 5px;
    color: #fff;
    border: none;
}

.about-wrapper button:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
}

#about .about-wrapper .card:nth-child(1) button {
    background-color: #178A27;
}

#about .about-wrapper .card:nth-child(2) button {
    background-color: #1686C1;
}

#about .about-wrapper .card:nth-child(3) button {
    background-color: #852406;
}

.extra-cards {
    margin-top: 60px;
    padding-bottom: 20px;
    flex: 0 1 48%;
}

.extra-cards h4 {
    color: #666666;
    text-align: center;
    padding: 5px;
}

.extra-cards p {
    padding: 10px;
}

.extra-cards button {
    font-size: 18px;
    color: #3f3e3e;
    background-color: #fff;
    border: 1px solid lightgray;
    display: flex;
    border-radius: 7px;
    padding: 10px 25px;
}

.extra-cards button:hover {
    background-color: lightgray;
    transition: none;
}

/*Services*/

.service-banner {
    background-image: url(/img/hazal-ozturk-yiEYUO0Geic-unsplash.jpg);
    width: 100%;
    background-size: cover;
    height: 60vh;
    background-repeat: no-repeat;
}


.service-banner-text {
    display: flex;
    padding: 10% 0;
}

.service-banner-text-items {
    color: #fff;
    margin: auto;
    text-align: center;
    /*width: 50%;*/
    /*padding-top: 1%;*/
}

.service-banner-text-items h3 {
    font-size: 2em;
    
    text-transform: uppercase;
}

.service-banner-text-items p {
    font-size: 15px;
    width: 50em;
}



.service-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px;
}

.service-card {
    flex: 0 1 24%;
}

.service-card img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}

.service-card {
    background-color: #F2F2F2;
   
    padding-bottom: 20px;
}

.service-card h3 {
    color: #666666;
    padding-top: 10px;
    text-align: center;
}

.service-card p {
    font-size: 17px;
    padding: 20px;
}

.service-card button {
    font-size: 18px;
    color: #666666;
    background-color: #fff;
    border: 1px solid lightgray;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    padding: 10px 25px;
}

.extra-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    background-color: #F2F2F2;
}

.extra-col img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}

.extra-col h3, .extra-col button {
    color: #666666;
}

.extra-col p, .extra-col h3 {
    padding: 30px;
}

.extra-col h3 {
    font-size: 22px;
    
}

.extra-col button {
    font-size: 18px;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 7px;
    margin-top: 20px;
    padding: 10px 25px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.extra-col button:hover {
    cursor: pointer;
    background-color: #eeeeee;
    color: #1e1675;
}

/*Contact*/

.contact-wrapper {
    background-image: url(/img/sebastian-unrau-9Yz9Us5-D0s-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    
}

.contact-text h2 {
    color: #fff;
    font-size: 35px;
    display: flex;
    justify-content: center;
    padding-top: 7%;
}

.contact-text p {
    color: #fff;
    display: flex;
    font-size: 25px;
    text-align: center;
    width: 45em;
    padding-left: 10rem;
    padding-top: 2em;
}

.form-area {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 2em;
    width: 60%;
    margin: 5em auto;
}

::placeholder {
    color: #fff;
}

.message-area {
    display: flex;
    flex-direction: column;
    order: 2;
}

.message-area textarea {
    flex: 1;
    min-width: 18em;
    background: transparent;
    color: #fff;
    padding: 15px;
}

.details-area {
    flex: 1;
    order: 1;
    margin-right: 3.9em;
}

.details-area input {
    width: 100%;
    background: transparent;
    color: #fff;
    border-radius: 5px;
}

.details-area input, .details-area button {
    padding: 1em;
    margin-bottom: 1em;
}

.details-area button {
    background: #262628;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 30px;
    border-radius: 15px;
    font-size: 16px;
    display: block;
    margin: 0 auto;
}

.details-area button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #262628;
}

#button i {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

@media all and (max-width:500px) {
    .top-bar {
        flex-direction: column;
        text-align: center;
    }
    .logo {
        padding: 18px 0 0;
    }
    .menu ul {
        flex-direction: column;
        margin-top: 0;
    }
    .menu ul li {
        padding: 5px;
    }
    .banner-text-items {
        width: 100%;
    }
    .banner-text-items h2 {
        font-size: 1.5em;
    }
    .main-content {
        flex-direction: column;
    }
}