* {
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url(/img/jeremy-bishop-tTY4nthc2IY-unsplash.jpg);
width: 100%;
background-size: cover;
height: 95vh;


}

.top-bar {
    background-color: #000;
    display: flex;
    width: 100%;
    height: auto;
}

/*.logo {
    color: #fff;
    flex: 1;
    font-size: 40px;
    padding: 18px;
    text-transform: uppercase;
}*/



.menu {
    flex: 3px;

}

.menu ul {
    display: flex;
    list-style-type: none;
    margin-top: 30px;
    flex-flow: row wrap;
}

.menu ul li {
    flex: 1;
    text-align: center;
}

.menu ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}



/* Banner */

.banner-text {
    display: flex;
    padding: 15% 0;
}

.banner-text-items {
    color: #fff;
    margin: auto;
    text-align: center;
    width: 50%;
}

.banner-text-items h2 {
    font-size: 3em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.banner-text-items p {
    font-size: 18px;
}



section#about {
    height: auto;
    padding: 85px;
  
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
 }

 .card {
    flex: 0 1 32%;
 }

 .card img,
 .extra-cards img {
    display: block;
	border: 0;
	width: 100%;
	height: auto;
 }

 .extra-cards {
     padding-top: 20px;
     padding-bottom: 20px;
    flex: 0 1 48%;
 }

 /*Services*/

 /*section#service {
     height: auto;
     padding: 20px;
 }*/

section#service {
    height: auto;
   /* padding: 85px;*/
  
}

 /*.service-banner {
    background-image: url(/img/hazal-ozturk-yiEYUO0Geic-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    z-index: -1;
 }*/

 .service-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 85px;
 }

 .service-card {
    flex: 0 1 24%;
 }

 .service-card img {
    display: block;
	border: 0;
	width: 100%;
	height: auto;
 }

 .extra-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
 }

.extra-col img {
    display: block;
	border: 0;
	width: 100%;
	height: auto;
}




/*.contact-img {
    background-image: url(/img/sebastian-unrau-9Yz9Us5-D0s-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 95vh;
}

.contact-text h2 {
    font-size: 35px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}*/








/*Contact*/

section#contact {
    background-image: url(/img/conscious-design-_eCZjlVE2zI-unsplash.jpg);
    width: 100%;
background-size: cover;
background-position: center center;
height: 100vh;
}

.form-area {
    display: flex;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    /*padding: 1.9em;*/
   margin-top: 50px;
}

.message-area {
    display: flex;
    flex-direction: column;
    order: 2;
}

.message-area textarea {
    flex: 1;
    min-width: 18em;
    background: transparent;
    color: #fff;
    padding: 15px;
}

.details-area {
    flex: 1;
    order: 1;
    margin-right: 2em;
}

.details-area input {
    width: 100%;
    background: transparent;
    color: #fff;
    border-radius: 5px;
}

.details-area input, 
.details-area button {
    padding: 1em;
    margin-bottom: 1em;
}

.details-area button {
    background: red;
    color: #fff;
    border: 0;
    padding: 15px 50px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
}

label {
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
}

/*section#contact {
    height: auto;
}*/

/*.contact-img {
    background-image: url(/img/conscious-design-_eCZjlVE2zI-unsplash.jpg);
    width: 100%;
background-size: cover;
height: 100vh;
}*/



.contact-items {
    display: flex;
   /* align-items: center;*/
    flex-direction: column;
    /*flex-wrap: wrap;*/
        padding-top: 100px; 
     padding-left: 200px;
}

.contact-text p {
    color: #fff;
    text-align: center;
    width: 50em;

    display: block;
    margin: 0 auto;
    
    font-size: 22px;
    opacity: 0.5;
    padding: 17px;
    width: 32em;
    background-color: #9F9C9B;
    border-radius: 5px;
    font-weight: bold;

    /*padding-bottom: 20px;*/
}

/*.contact {
    background-image: url(/img/conscious-design-_eCZjlVE2zI-unsplash.jpg);
    padding: 80px 0;
    position: relative;
    z-index: 1;
}*/

/*.contact-items input[type="text"] {
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    width: 20%;
}

.message {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    bottom: 50%;
}


/*.contact::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}

.contact-items h2 {
color: #fff;
font-size: 40px;
margin-bottom: 18px;
}

.contact-items input[type="text"] {
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    width: 50%;
}

.contact-items textarea {
    border-radius: 10px;
    height: 150px;
    padding: 15px;
    width: 50%;
}

.contact-items button {
    background-color: #da4b29;
    color: #fff;
    display: block;
    font-size: 20px;
margin-top: 25px;
padding: 15px 80px;
text-transform: uppercase;
border: none;
}*/

@media all and (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        text-align: center;
    }


    .menu ul {
        flex-direction: column;
        margin-top: 0;
        }

        .menu ul li {
            padding: 5px;
        }

        .banner-text-items {
            width: 100%;
        }

        .banner-text-items h2 {
            font-size: 1.5em;
        }

        .main-content {
            flex-direction: column;
        }

      

        
}


