* {
    margin: 0;
    padding: 0;
}

/*body {
    overflow-x: hidden;
}*/

ul {
    display: flex;
    justify-content: center;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #383E4C;
}

nav li {
    list-style-type: none;
    padding: 20px;
    font-size: 24px;
}

nav li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #646D7C;
    padding: 10px 30px;
}

nav li a:hover {
    background-color: #49505F;
}

/*Home Section */

section .homepage-img {
    background-image: url(/img/azin-javadzadeh-Ow4ijRO4ZJw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 95vh;
    z-index: -1;
}

h1 {
    font-size: 60px;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 40%;
}

#home h3 {
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 55%;
    left: 37%;
}

section #home {
    height: 750px;
}

/*About Section */

section #about {
    height: 750px;
}

.about-container {
    padding: 100px;
}

.about-wrapper {
    width: 100%;
    columns: 3;
    column-gap: 50px;
}

.about-wrapper .about-box {
    width: 100%;
    padding-bottom: 20px;
}

.about-wrapper .about-box img {
    max-width: 100%;
    display: block;
}

#about .content {
    padding: 15px;
    background-color: #F2F2F2;
}

#about .about-box:nth-child(1) h4 {
    color: #178A27;
}

#about .about-box:nth-child(2) h4 {
    color: #1686C1;
}

#about .about-box:nth-child(3) h4 {
    color: #8F8F8F;
}

#about .content h4 {
    font-size: 24px;
    padding-bottom: 15px;
}

#about .content p {
    padding-bottom: 20px;
}

#about .content button {
    font-size: 22px;
    display: block;
    margin: 0 auto;
    padding: 8px 20px;
    border-radius: 5px;
    color: #fff;
    border: none;
}

#about .content button:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
}

#about .about-box:nth-child(1) button {
    background-color: #178A27;
}

#about .about-box:nth-child(2) button {
    background-color: #1686C1;
}

#about .about-box:nth-child(3) button {
    background-color: #852406;
}

.extra-info {
    width: 100%;
    columns: 2;
    display: block;
    margin: 0 auto;
    padding-top: 60px;
    column-gap: 30px;
}

.extra-info .extra-box {
    width: 100%;
}

.extra-info .extra-box img {
    max-width: 100%;
    display: block;
}

.extra-box .content h4 {
    color: #666666;
    text-align: center;
}

#about .extra-box .content button {

    font-size: 18px;
    color: #3f3e3e;
    background-color: #fff;
    border: 1px solid lightgray;
    display: flex;
    border-radius: 7px;
    padding: 10px 25px;
}

#about .extra-box .content button:hover {
    background-color: lightgray;
    transition: none;
}

/*Service Section */

.service-img {
    background-image: url(/img/tobias-keller-73F4pKoUkM0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    z-index: -1;
}

.services-container {
    padding: 100px;
   
}



.service-text {
    /*display: block;*/
    padding-top: 150px;
    color: #fff;
} 

.service-text h2 {
    font-size: 50px;
    display: flex;
    justify-content: center;

}

.service-text p {
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.services-wrapper {
    columns: 4;
    display: flex;
    width: 100%; 
}

.services-box {
    flex: 1;
    padding: 16px;
    flex-grow: 1;
}


.services-wrapper .services-box {
    width: 100%;
    display: inline;
}

.services-wrapper .services-box img {
    max-width: 100%;
    /*display: block;*/
    height: 280px;
    width: 280px;
    vertical-align: top;
}

.services-box .content {
    background-color: #F2F2F2;
    padding: 0 20px 30px 20px;
}

.services-box h3 {
    color: #666666;
    padding-top: 10px;
    text-align: center;
}

.services-box p {
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.services-box button {
    font-size: 18px;
    color: #666666;
    background-color: #fff;
    border: 1px solid lightgray;
    display: block; 
    margin: 0 auto;
    border-radius: 7px;
    padding: 10px 25px;
}

.services-big-col {
    padding-top: 30px;
}

.services-big-col img {
   width: 100%;
   display: block;
}

.services-big-col .content {
    padding: 0 20px 30px 20px;
    background-color: #F2F2F2;
    /*display: inline;

    overflow: hidden;*/
    
}

.services-big-col h3 {
    font-size: 22px;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #666666;
}

.services-big-col button {
    font-size: 18px;
    color: #666666;
    background-color: #fff;
    border: 1px solid lightgray;
    
    border-radius: 7px;
    margin-top: 20px;
    padding: 10px 25px;
}











