* {
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url(/img/jeremy-bishop-tTY4nthc2IY-unsplash.jpg);
width: 100%;
background-size: cover;
height: 95vh;

}

.top-bar {
    background-color: #000;
    display: flex;
    width: 100%;
    height: auto;
}


.menu {
    flex: 3px;

}

.menu ul {
    display: flex;
    list-style-type: none;
    margin-top: 30px;
    flex-flow: row wrap;
}

.menu ul li {
    flex: 1;
    text-align: center;
}

.menu ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

/* Banner */

.banner-text {
    display: flex;
    padding: 15% 0;
}

.banner-text-items {
    color: #fff;
    margin: auto;
    text-align: center;
    width: 50%;
}

.banner-text-items h2 {
    font-size: 3em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.banner-text-items p {
    font-size: 18px;
}


/*Section - About */

section#about {
    height: auto;
}
.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px;
    
 }

 .card {
    flex: 0 1 32%;
 }

 .card img,
 .extra-cards img {
    display: block;
	border: 0;
	width: 100%;
	height: auto;
 }


 .about-wrapper .card,
 .extra-cards {
    /*padding: 15px;*/
    background-color: #F2F2F2;
    padding-bottom: 20px;
}


#about .about-wrapper .card:nth-child(1) h4 {
    color: #178A27;
}

#about .about-wrapper .card:nth-child(2) h4 {
    color: #1686C1;
}

#about .about-wrapper .card:nth-child(3) h4 {
    color: #8F8F8F;
}

.about-wrapper .card h4 {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 24px;
    padding-bottom: 15px;
}

.about-wrapper .card p {
    padding-bottom: 20px;
    padding-left: 20px;
}

.about-wrapper button {
    font-size: 22px;
    display: block;
    margin: 0 auto;
    padding: 8px 20px;
    border-radius: 5px;
    color: #fff;
    border: none;
}

.about-wrapper button:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
}


#about .about-wrapper .card:nth-child(1) button {

    background-color: #178A27;
}

#about .about-wrapper .card:nth-child(2) button {
    background-color: #1686C1;
}

#about .about-wrapper .card:nth-child(3) button {
    background-color: #852406;
}

 .extra-cards {
    margin-top: 60px;
    padding-bottom: 20px;
   flex: 0 1 48%;
}

.extra-cards h4 {
    color: #666666;
    text-align: center;
}

.extra-cards button {

    font-size: 18px;
    color: #3f3e3e;
    background-color: #fff;
    border: 1px solid lightgray;
    display: flex;
    border-radius: 7px;
    padding: 10px 25px;
}

.extra-cards button:hover {
    background-color: lightgray;
    transition: none;
}



/*Services*/

.service-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px;
  
 }

 .service-card {
    flex: 0 1 24%;
 }

 .service-card img {
    display: block;
	border: 0;
	width: 100%;
	height: auto;
 }

.service-card {
    background-color: #F2F2F2;
    height: 40%;
    padding-bottom: 20px;
   
}

.service-card h3 {
    color: #666666;
    padding-top: 10px;
    text-align: center;
}

.service-card p {
    font-size: 17px;
    padding: 20px;
}

.service-card button {
    font-size: 18px;
    color: #666666;
    background-color: #fff;
    border: 1px solid lightgray;
    display: block; 
    margin: 0 auto;
    border-radius: 7px;
    padding: 10px 25px;
}

.extra-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    background-color: #F2F2F2; 
 }

.extra-col img {
    display: block;
	border: 0;
	width: 100%;
	height: auto;
}

.extra-col h3,
.extra-col button {
    color: #666666;
}

.extra-col p,
.extra-col h3 {
    padding: 30px;
}

.extra-col h3 {
    font-size: 22px;
    /*padding-top: 30px;
    padding-bottom: 10px;*/
}



.extra-col button {
    font-size: 18px;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 7px;
    margin-top: 20px;
    padding: 10px 25px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.extra-col button:hover {
    cursor: pointer;
    background-color: #eeeeee;
    color: #1e1675;

    
}




/*Contact*/

.contact-wrapper {
    background-image: url(/img/sebastian-unrau-9Yz9Us5-D0s-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    /*padding-top: 150px;*/
}

.contact-text h2 {
    font-size: 35px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.contact-text p {
    /*display: flex;
    flex-wrap: wrap;
    align-items: center;*/
    font-size: 22px;
    text-align: center;
    width: 50em;
    padding-left: 10px;
}

.form-area {
    display: flex;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    padding: 2em;
    margin: 8em;
}


.message-area {
    display: flex;
    flex-direction: column;
    order: 2;
}

.message-area textarea {
    flex: 1;
    min-width: 18em;
    background: transparent;
    color: #fff;
    padding: 15px;
}

.details-area {
    flex: 1;
    order: 1;
    margin-right: 3.9em;
}

.details-area input {
    width: 100%;
    background: transparent;
    color: #fff;
    border-radius: 5px;
}

.details-area input, 
.details-area button {
    padding: 1em;
    margin-bottom: 1em;
}

.details-area button {
    background: red;
    color: #fff;
    border: 0;
    padding: 15px 50px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
}


/*.main-content {
    display: flex;
    flex-flow: row wrap;
    padding: 5% p;
}

.main1 {
    flex: 1;
    padding: 3%;
    text-align: center;
}*/

/*Contact*/

.contact-items {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.contact {
    background-image: url(/img/conscious-design-_eCZjlVE2zI-unsplash.jpg);
    padding: 80px 0;
    position: relative;
    z-index: 1;
}

.contact::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}

.contact-items h2 {
color: #fff;
font-size: 40px;
margin-bottom: 18px;
}

.contact-items input[type="text"] {
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    width: 50%;
}

.contact-items textarea {
    border-radius: 10px;
    height: 150px;
    padding: 15px;
    width: 50%;
}

.contact-items button {
    background-color: #da4b29;
    color: #fff;
    display: block;
    font-size: 20px;
margin-top: 25px;
padding: 15px 80px;
text-transform: uppercase;
border: none;
}

@media all and (max-width:500px) {
    .top-bar {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        padding: 18px 0 0;
    }

    .menu ul {
        flex-direction: column;
        margin-top: 0;
        }

        .menu ul li {
            padding: 5px;
        }

        .banner-text-items {
            width: 100%;
        }

        .banner-text-items h2 {
            font-size: 1.5em;
        }

        .main-content {
            flex-direction: column;
        }
}


